


//colours
$dark-blue: #384966;
$medium-green: #2c9b59;
$soft-yellow: #edd732;
$teal: #4794a8;

$white: #fff;

$grey: #E6E6E6;

$black: #000000;
$med-grey: #949494;


//font
$font: 'Poppins', sans-serif;