@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $font;
}

.title-heading{
	margin-bottom: 10em;
}

ul {
	margin: 1em;
	height: 8em;
	position: absolute;
	top: 5em;


	
	li{
		padding: 0em .5em 5em .5em;
		display: block;
		float: left;
		margin-right: 0;
		background: ($grey)
	}
	a {
		background: black;
		height: 0px;
		display: block;
		width: 5em;;
		position: relative;
	&:hover {
		height: 80px;
		transition: all 500ms ease;
	}

	}


}
li:first-child a {
	&:hover {
	background-color: green;
}
}
 
