@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $font;
}

.title-heading{
	margin-bottom: 10em;
}

ul {
	padding:0;
	height: 8em;
	position: absolute;
	top: 5em;
	overflow: hidden;
	width: 100%;
	li{
		padding: 0em 0em 10em 0em;
		display: block;
		float: left;
		margin-right: 0;
		background: ($grey);
		// border-top: 10px solid (black);
	}
	a {
		background: black;
		height: 0px;
		display: block;
		width: 5em;
		position: relative;
		text-align: center;
		list-style-type: none;
		text-decoration: none;
		color: white;
		// padding-top: .5em;


	&:hover {
		height: 140px;
		transition: all 500ms ease;
	}
	a:after {
		background: black;
		height: 100%;;
		display: block;
		
		position: absolute;
	}
}

li:hover > a {
	height: 140px;
	transition: all 400ms ease-in-out;
}


li:first-child a {
	background-color: blue;
	&:hover {
	background-color: blue;
}
}

li:nth-child(2) a {
	background-color: yellow;
	&:hover {
	background-color: yellow;
}
}

li:nth-child(3) a {
	background-color: orange;
	&:hover {
	background-color: orange;
}
}

li:nth-child(4) a {
	background-color: green;
	&:hover {
	background-color: green;
}
}
}
 
